$header-bg: #160c28;
$head-txt: #efcb68;
$head-ahover: #0caadc;
$text-col: #efcb68;
$body-bg: #000411;
$btn-bg-col: #160c28;

//linked colors overwrite
$footer-txt: $text-col;
$btn-bg-colhover: $head-ahover;
$btn-text: $text-col;
$form-bg: $header-bg;
