.cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding: $btn-plr;
  .card {
    text-align: center;
    width: 300px;
    border: 2px solid $head-txt;
    border-radius: 20px;
    padding: $btn-plr;
    transition: all 0.6s ease;
    &:hover {
      box-shadow: 2px 2px 2px #000;
      scale: 1.2;
    }
    > h5 {
      margin-bottom: 16px;
    }
    > h6 {
      color: $head-txt;
    }
    img {
      width: 100%;
      aspect-ratio: 3/2;
      margin-bottom: 16px;
      border-radius: 20px;
    }
  }
}
